.container{
    display:grid;
    grid-template-columns: repeat( auto-fill,minmax(250px,1fr));
    /* grid-template-rows: 150px 150px;
    border: 2px solid red; */
   
    /* justify-items: center;
    align-items: center; */
    /* place-items: center; */
    gap:10px;

}

.header{
    background: orange;
    padding: 20px;
    /* grid-column: 1/4;  */
    /*for 3 column 4 lines and we want to extened till last line*/
    grid-row: 1/4;
}


.box{
    border:2px solid black;
    /* padding:20px; */
    /* height:80px;
    width: 80px; */
    background-color: aqua;
    
}