*{
    background-color: rgb(161, 239, 141);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

header{
    background-color: antiquewhite;
    padding: 20px;
    
    grid-area: header;


}
main{
    background-color: aquamarine;
    padding: 20px;
    grid-area: content;
}
aside{
    background-color: rgb(139, 232, 242);
    padding:20px;
    grid-area: sidebar;
    

}
footer{
    background-color: yellow;
    grid-area:footer;
    
}