/* universal selector */
*{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color:violet
}

span{
    color:blue;
    font-weight: bold;

}
.div1{
    border:2px solid black;
}
.div2{
    border:2px solid green;
    background-color: blue;
}

#para1{
    color: green
}
span b{
    color:brown
}
input[type="text"]{
    background-color: aquamarine;
}

div > p{
    color: teal;
}
body{
    background-image:url("https://imgs.search.brave.com/HbnlJ0ddv59lpgStTWaRmNtGRE9S1t1jP2KPisZGBD8/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9ibG9n/Z2VyLmdvb2dsZXVz/ZXJjb250ZW50LmNv/bS9pbWcvYi9SMjl2/WjJ4bC9BVnZYc0Vn/VDlld3p4Yi1tSEpu/STNsQWVGVjVzclgz/NTIwZlVqeFBVZ0FB/VXlZUWZSekNfcTY2/Ukk0TWpfbjBRSkdL/RVlhRFBRZldjbnFy/cjdxQmp0S1FERDFk/d2doUE9OcXdqdGQ4/WGhCczlCdWN5dGpB/ckI5b3hYcWhueG1V/TFNURXRwMEdaZ0hY/bzh3RzFaYXcvczY0/MC1ydy9hbGwtYWJv/dXQtZG9ncy5qcGc") ;
    background-repeat: no-repeat;
    background-size: contain;
}
#typograph{
    font-size: 40px;
    font-weight: 800px;
    border: 2px solid black;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 40px;
}
.parent{
    width:400px;
}
.child{
    width:50%;
}

.viewport{
    width:50vh;
    height: 40vw;
    border: 2px solid blue;
    margin-left: 20vh;
}