 /* h1{
    border: 2px solid black;
    width: 100%;
    font-size: 60px;
}
img{
    width: 100%;
} */


/* mobile */
/* .card{
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    border: 2px solid black;
    box-sizing: border-box;
}

/* tablet */
/*
@media(min-width:768px){ 
    .card{
        width: 80%;
        padding: 20px;
        background-color: rgb(0, 255, 102);
    }
}
/* desktop *//*
@media(min-width:1024px){
    .card{
        width:60%;
        padding: 30%;
        background-color: blueviolet;
    }
} */

.card{
    width:300px;
    height:200px;
    background-color: red;
    color:white;
    display: flex;
    align-items: center;
    font-size: 24px;

} 

@media(max-width:768px){
    .card{
        background-color: green;
    }
}