.progress-container {
    width: 400px;
    height: 20px;
    background-color: skyblue;
    border-radius: 10px;
}

.progress-bar {
    width: 10%;
    height: 100%;
    background-color: green;
    border-radius: 10px;

    transition: 0.8s;
}

.progress-container:hover .progress-bar {
    width: 70%;
    background: red;
}
/* .progress-container:hover.span{
    content: '70%';
}
 */
.progress-bar span {
    font-size: 0;
}

.progress-bar span::after {
    content: "10%";
    font-size: 20px;
}

.progress-container:hover .progress-bar span::after {
    content: "70%";
    
}